{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":13,"column":17},"action":"insert","lines":["#################  ","## npm","#################","","","/node_modules","","","#################  ","## bower_components","#################","","","/bower_components"]}]}],[{"group":"doc","deltas":[{"start":{"row":6,"column":0},"end":{"row":13,"column":17},"action":"remove","lines":["","","#################  ","## bower_components","#################","","","/bower_components"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":0},"end":{"row":6,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1419687580542,"hash":"fec7402b0ce1c404f4d92b93126a52a5277bacd3"}